<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Add/Del Product Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/shop.css"/>
</head>
<body>
<h1>Add/Del Product Form</h1>
<form action="#" th:action="@{/api/v1/shop/products}" th:object="${countProducts}" method="post">
    <p>Product ID:
    <span th:text="${idProduct}"></span>
    <select hidden th:field="*{id}">
        <option th:value="${idProduct}">
        </option>
    </select>
    </p>
    <p>Count: <input type="number"
                     th:field="*{count}"/></p>
    <p><input type="submit"
              value="Submit"/>
        <input type="reset"
               value="Reset"/></p>
</form>
<a th:href="@{/index.html}" class="btn btn-outline-secondary">Return to shop</a>
</body>
</html>